{% extends "base_generic.html" %}

{% block content %}
<h1>Главная страница</h1>

<p>Добро пожаловать в <em>LocalLibrary</em>, на сайт, посвященный нашей дипломной работе на тему "Библиотека"!</p>
<p>Здесь мы приглашаем вас окунуться в мир слов и знаний, который мы тщательно изучаем и исследуем в рамках нашего проекта. Этот сайт — не просто виртуальная библиотека, а настоящий комплексный ресурс, созданный с целью осветить различные аспекты и значения библиотек в современном обществе.</p>

<p>Мы уверены, что наши исследования, анализы и выводы окажутся полезными и интересными для всех, кто интересуется ролью библиотек в современном мире, их историей, функциями и перспективами развития.</p>

<p>Добро пожаловать в мир исследований и увлекательных открытий!</p>





<p>В библиотеке имеется следующее количество записей:</p>
<ul>
<li><strong>Книги:</strong> {{ num_books }}</li>
<li><strong>Копии:</strong> {{ num_instances }}</li>
<li><strong>Доступные копии:</strong> {{ num_instances_available }}</li>
<li><strong>Авторы:</strong> {{ num_authors }}</li>
</ul>


<p>Вы посетили эту страницу {{ num_visits }} раз{{ num_visits|pluralize }}.</p>

{% endblock %}
